.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro {
  background-color: #0fa3b1ff;
}

.introHeading {
  padding: 7% 0;
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20%;
  justify-content: center;
  gap: 24px 16px;
}

.introIcons {
  font-size: 2em;
  pointer-events: none;
}

.svgAnchor {
  color: inherit;
}

.mainAvatar {
  max-width: 20vw; /* max-width doesn't behave correctly in legacy IE */
  margin: 0 auto;
  height: 100%;
  padding-top: 24px;
}

.timeline_image {
  max-width: 20vw;
  height: 100%;
  padding-top: 24px;
  display: flex;
}

